<!DOCTYPE html>
<html>
  <head>
    <% include ../template/head %>
    <body>
      <% include ../template/header %>
      <div class="center vps">
        <main>
        <div id="created">New VPS Success! <a class="right" href="#">x</a></div>
        <h1 class="left">VPS</h1>
        <a class="vps-new" href="/vps/new">new</a>
        <table class="vps-table clearfix">
          <tr class="vps-table-head">
            <th>Name</th>
            <th>OS</th>
            <th>Status</th>
            <th>Core</th>
            <th>Mem</th>
            <th>Domain</th>
          </tr>
            <% vps.forEach((item) => { %>
            <tr>
              <td><a href="/vps/about?id=<%= item.container_id %>"><%= item.name %></a></td>
              <td><%= item.os %></td>
              <td><%= item.status %></td>
              <td><%= item.core %></td>
              <td><%= item.memory %>GB</td>
              <td><a href="http://<%= item.domain %>/" target="_blank"><%= item.domain %></a></td>
            </tr>
            <% }) %>
        </table>
        </main>
      </div>
    </body>
</html>
